-# %h2 Sign upp
-#   .field
-#     = f.label :email
-#     %br/
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"

= form_for(@user, url: user_registration_path) do |f|
  .signupback
    .signuptitle
      ごっつ庵会員登録フォーム
    .signupC
      .signuperror
        = render "devise/shared/error_messages"
      .signupform
        .signupform__email
          メールアドレス
        .signupform__emailform
          = f.email_field :email, autofocus: true, class: "inputarea", autocomplete: "email"
        .signupform__password
          パスワード
        .signupform__passwordform
          = f.password_field :password, class: "inputarea", autocomplete: "new-password"
        .signupform__repassword
          パスワード再入力
        .signupform__repasswordform
          = f.password_field :password_confirmation, class: "inputarea", autocomplete: "new-password"
        .signupform__name
          .signupform__fname
            姓（漢字）
            .signupform__fnameform
              = f.text_field :fname, class: "nameinputarea"
          .signupform__lname
            名（漢字）
            .signupform__lnameform
              = f.text_field :lname, class: "nameinputarea"
        .signupform__namekana
          .signupform__fnamekana
            姓（カナ）
            .signupform__fnamekanaform
              = f.text_field :fnamekana, class: "nameinputarea"
          .signupform__lnamekana
            名（カナ）
            .signupform__lnamekanaform
              = f.text_field :lnamekana, class: "nameinputarea"
        .signupform__age
          年齢
        .signupform__ageform
          = f.text_field :age, class: "inputarea"
        .signupform__phonenumber
          電話番号
        .signupform__phonenumberform
          = f.text_field :phonenumber, class: "inputarea"
        .signupform__submit
          = f.submit "次へ", class: "registerbtn"





