へっだー


.kaiinnzyouhou
  会員情報（降順）

.alluserinfoside
  .userside
    - @user.each do |user|
      .alluserinfouser
        .id
          = user.id
        .firstname
          = user.fname
        .lastname
          = user.lname
        .firstnamekana
          = user.fnamekana
        .lastnamekana
          = user.lnamekana
        .age
          = user.age
        .phonenumber
          = user.phonenumber
  .addressside
    - @addresses.each do |address|
      .alluserinfoaddress
        .zipcode
          = address.zipcode
        .prefecture
          = address.prefecture
        .city
          = address.city
        .address
          = address.address
        .building
          = address.building


ふったー