.bg-switcher
  %h1.bg-title

  .header
    .header__top
      .logospace
        = link_to "/" do
          <img src="/images/main-logo-pc.png" class=image>
      .kennsakumado
        .tel
          ご予約（０６）６４５８ー０２３０
        .header__tab
          .tab1
            .taboya
              こだわり
            .tabko
              .dasi
                %a{:href => "/kodawari#titlelink1"}だし
              .yasai
                %a{:href => "/kodawari#titlelink2"}野菜
              .sake
                %a{:href => "/kodawari#titlelink3"}酒
              .sime
                %a{:href => "/kodawari#titlelink4"}シメ
          .tab2
            メニュー
            .tabkiti
              = link_to "/tyannko" do
                お品書き
            .tabmi
              = link_to "/ippinn" do
                一品もの
              .tabchan1
                %a{:href => "/ippinn#titlelink1"}もずくポン酢
              .tabchan2
                %a{:href => "/ippinn#titlelink2"}つけもの盛り合わせ
              .tabchan3
                %a{:href => "/ippinn#titlelink3"}みょうがの甘酢漬け
            .tabjiro
              = link_to "/tuika" do
                追加メニュー
              .baki
                %a{:href => "/tuika#titlelink1"}豚しゃぶしゃぶ肉
              .kaiou
                %a{:href => "/tuika#titlelink2"}野菜類
              .hanayama
                %a{:href => "/tuika#titlelink3"}雑炊セット
              .sibukawa
                %a{:href => "/tuika#titlelink4"}中華そば
            .tabemon
              = link_to "/drink" do
                お飲み物
              .tabta
                %a{:href => "/drink#titlelink1"}地酒
              .tabkachan
                %a{:href => "/drink#titlelink2"}日本酒
              .jaian
                %a{:href => "/drink#titlelink3"}チューハイ
              .tabo
                %a{:href => "/drink#titlelink4"}梅酒
                  
              -# .tabsugikun
              -#   = link_to "/taisyou" do
              -#     ソフトドリンク
          .tab3
            = link_to "/nomiho" do
              飲み放題コース
          .tab4
            = link_to "/access" do
              アクセス


      .user
        - if user_signed_in?
          - if current_user == @user || current_user.admin?
            .loginstatus
              ごっつぁんです！#{current_user.fname} さん
            .userinfo
              = link_to "全会員情報一覧", alluserinfo_index_path
            .logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            .loginstatus
              ごっつぁんです！#{current_user.fname} さん
            .userinfo
              = link_to "会員情報", userinfos_show_path
            .logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          .loginstasus
            未ログイン
          %a.sinki{href: new_user_registration_path}
            新規登録
          %a.login{href: new_user_session_path}
            ログイン



-# .gazoukurukuru
-#   .syasinn
-#     <img src="/images/1on.jpg" class=bigimage>
-#   .syasinn
-#     <img src="/images/2on.jpg" class=bigimage>
-#   .syasinn
-#     <img src="/images/3on" class=bigimage>
-# .itiran
-#   .itiran__pickup
-#     ピックアップ
-#   .itiran__gazou

-#     -# .a
-#     -#   <img src="/images/1.jpg" class=image>
-#     -#   .asetumei
-#     -#     aaaaaaaaaaaaaaaaaaaaaaaa
-#     -#     %br
-#     -#     購入する
-#     -#     %br
-#     -#     カートに入れる
-#     .b
-#       .bsetumei
-#         旬の野菜販売してます！
-#       .bgazou
-#         <img src="/images/1on.jpg" class=image>
-#     .c
-#       .csetumei
-#         予約して欲しい制について！
-#       .cgazou
-#         <img src="/images/2on.jpg" class=image>
-#     .d
-#       .dsetumei
-#         おすすめの食べ方！
-#       .dgazou
-#         <img src="/images/1on.jpg" class=image>
    -# .e
    -#   <img src="/images/3.jpg" class=image>
    -# .f
    -#   <img src="/images/3on.jpg" class=image>
    -# .g
    -#   <img src="/images/sample1" class=image>
    -# .h
    -#   <img src="/images/sample2_mini" class=image>
    -# .i
    -#   <img src="/images/sample3_mini" class=image>

.footer
  .abc
    .abc__abc
      Copyright©︎ Chanko gottuan All Rights Reserved.
      .abc__logo
        <img src="/images/main-logo-pc.png" class=image>

  .abcd
    .abcd__abcd
      TEL(06)-6458-1230
    .abcd__abcde
      = link_to "/access" do
        RECRUIT

  -# .abcdef
  -#   .abcdef__abcdef
  -#     あああああ
  -#   .abcdef__abcdef
  -#     いいいいいい
  -#   .abcdef__abcdef
  -#     うううううう
  -#   .abcdef__abcdef
  -#     ええええええ


:javascript
    $(function(){
      $(".tab1 .taboya").on("click", function() {
      $(this).nextAll().slideToggle(100);
      });
    });
    $(function(){
      $(".tab1 .taboya").on("click", function() {
      $(this).css('color', '#0000ff')
      });
    });
    $('.tab1').hover(
    function(){
      $('.taboya').css();
      },
    function(){
      $('.taboya').css('color', '');
      }
    );


    $('.yasai').hover(
    function(){
      $('.yasai').css('background-color', '#f00');
      $('.taboya').css('color', '#0000ff');

      },
    function(){
      $('.yasai').css('background-color', '');
      }
    );
    $('.sake').hover(
    function(){
      $('.sake').css('background-color', '#f00');
      $('.taboya').css('color', '#0000ff');
      },
    function(){
      $('.sake').css('background-color', '');
      }
    );
    $('.dasi').hover(
    function(){
      $('.dasi').css('background-color', '#f00');
      $('.taboya').css('color', '#0000ff');
      },
    function(){
      $('.dasi').css('background-color', '');
      }
    );
    $('.sime').hover(
    function(){
      $('.sime').css('background-color', '#f00');
      $('.taboya').css('color', '#0000ff');
      },
    function(){
      $('.sime').css('background-color', '');
      }
    );




    $('.tab2').hover(
      function(){
        $('.tab2').children().show();
        $('.tab2').css('color', '#0000ff');

      },
      function(){
        $('.tab2').children().hide();
        $('.tab2').css('color', '');

      }
    );

    $('.tabkiti').hover(
      function(){
        $('.tabkiti').css('background-color', '#f00');
      },
      function(){
        $('.tabkiti').css('background-color', '');
      }
    );



    $('.tabmi').hover(
      function(){
        $('.tabmi').children().show();
        $('.tabmi').css('background-color', '#f00');
      },
      function(){
        $('.tabmi').css('background-color', '');
        $('.tabchan1').hide();
        $('.tabchan2').hide();
        $('.tabchan3').hide();
      }
    );
    $('.tabchan1').hover(
      function(){
        $('.tabchan1').css('background-color', '#f00');
      },
      function(){
        $('.tabchan1').css('background-color', '');
      }
    );
    $('.tabchan2').hover(
      function(){
        $('.tabchan2').css('background-color', '#f00');
      },
      function(){
        $('.tabchan2').css('background-color', '');
      }
    );
    $('.tabchan3').hover(
      function(){
        $('.tabchan3').css('background-color', '#f00');
      },
      function(){
        $('.tabchan3').css('background-color', '');
      }
    );


    $('.tabjiro').hover(
      function(){
        $('.tabjiro').children().show();
        $('.tabjiro').css('background-color', '#f00');
      },
      function(){
        $('.tabjiro').css('background-color', '');
        $('.baki').hide();
        $('.kaiou').hide();
        $('.hanayama').hide();
        $('.sibukawa').hide();

      }
    );
    $('.baki').hover(
      function(){
        $('.baki').css('background-color', '#f00');
      },
      function(){
        $('.baki').css('background-color', '');
      }
    );
    $('.kaiou').hover(
      function(){
        $('.kaiou').css('background-color', '#f00');
      },
      function(){
        $('.kaiou').css('background-color', '');
      }
    );
    $('.hanayama').hover(
      function(){
        $('.hanayama').css('background-color', '#f00');
      },
      function(){
        $('.hanayama').css('background-color', '');
      }
    );
    $('.sibukawa').hover(
      function(){
        $('.sibukawa').css('background-color', '#f00');
      },
      function(){
        $('.sibukawa').css('background-color', '');
      }
    );


    $('.tabemon').hover(
      function(){
        $('.tabemon').children().show();
        $('.tabemon').css('background-color', '#f00');
      },
      function(){
        $('.tabemon').css('background-color', '');
        $('.tabta').hide();
        $('.tabkachan').hide();
        $('.jaian').hide();
        $('.tabo').hide();
        $('.tabsugikun').hide();
      }
    );
    $('.tabta').hover(
      function(){
        $('.tabta').css('background-color', '#f00');
      },
      function(){
        $('.tabta').css('background-color', '');
      }
    );
    $('.tabkachan').hover(
      function(){
        $('.tabkachan').css('background-color', '#f00');
      },
      function(){
        $('.tabkachan').css('background-color', '');
      }
    );
    $('.jaian').hover(
      function(){
        $('.jaian').css('background-color', '#f00');
      },
      function(){
        $('.jaian').css('background-color', '');
      }
    );
    $('.tabo').hover(
      function(){
        $('.tabo').css('background-color', '#f00');
      },
      function(){
        $('.tabo').css('background-color', '');
      }
    );
    $('.tabsugikun').hover(
      function(){
        $('.tabsugikun').css('background-color', '#f00');
      },
      function(){
        $('.tabsugikun').css('background-color', '');
      }
    );



:javascript
  $(function() {
      $('.gazoukurukuru').slick({
          dots: true,
          fade: true,
          autoplay: true,
          autoplaySpeed: 4000,
      });
  });

:javascript
  jQuery(function($) {
      $('.bg-switcher').bgSwitcher({
          images: ['/images/main-photo1-pc.jpg','/images/main-photo2-pc.jpg','/images/main-photo3-pc.jpg'], // 切り替え画像
          Interval: 5000, //切り替えの間隔 1000=1秒
          start: true, //$.fn.bgswitcher(config)をコールした時に切り替えを開始する
          loop: true, //切り替えをループする
          shuffle: false, //背景画像の順番をシャッフルする
          effect: "fade", //エフェクトの種類 "fade" "blind" "clip" "slide" "drop" "hide"
          duration: 1000, //エフェクトの時間 1000=1秒
          easing: "swing", //エフェクトのイージング "swing" "linear"
      });
  });



