.Tback
  .Theader
    .Theader__top
      .logospace
        = link_to "/" do
          <img src="/assets/main-logo-pc.png" class=image>
      .kennsakumado
        .tel
          ご予約（００）００００−００００
        .header__tab
          .tab1
            .taboya
              こだわり
            .tabko
              .dasi
                %a{:href => "/kodawari#titlelink1"}だし
              .yasai
                %a{:href => "/kodawari#titlelink2"}野菜
              .sake
                %a{:href => "/kodawari#titlelink3"}酒
              .sime
                %a{:href => "/kodawari#titlelink4"}シメ
          .tab2
            メニュー
            .tabkiti
              = link_to "/tyannko" do
                お品書き
            .tabmi
              = link_to "/ippinn" do
                一品もの
              .tabchan1
                %a{:href => "/ippinn#titlelink1"}もずくポン酢
              .tabchan2
                %a{:href => "/ippinn#titlelink2"}つけもの盛り合わせ
              .tabchan3
                %a{:href => "/ippinn#titlelink3"}みょうがの甘酢漬け
            .tabjiro
              = link_to "/tuika" do
                追加メニュー
              .baki
                %a{:href => "/tuika#titlelink1"}豚しゃぶしゃぶ肉
              .kaiou
                %a{:href => "/tuika#titlelink2"}野菜類
              .hanayama
                %a{:href => "/tuika#titlelink3"}雑炊セット
              .sibukawa
                %a{:href => "/tuika#titlelink4"}中華そば
            .tabemon
              = link_to "/drink" do
                お飲み物
              .tabta
                %a{:href => "/drink#titlelink1"}地酒
              .tabkachan
                %a{:href => "/drink#titlelink2"}日本酒
              .jaian
                %a{:href => "/drink#titlelink3"}チューハイ
              -# .tabo
              -#   = link_to "/taisyou" do
                  
              -# .tabsugikun
              -#   = link_to "/taisyou" do
              -#     ソフトドリンク
          .tab3
            = link_to "/nomiho" do
              飲み放題コース
          .tab4
            = link_to "/access" do
              アクセス


      .user
        - if user_signed_in?
          - if current_user == @user || current_user.admin?
            .loginstatus
              ごっつぁんです！#{current_user.fname} さん
            .userinfo
              = link_to "全会員情報一覧", alluserinfo_index_path
            .logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            .loginstatus
              ごっつぁんです！#{current_user.fname} さん
            .userinfo
              = link_to "会員情報", userinfos_show_path
            .logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          .loginstasus
            未ログイン
          %a.sinki{href: new_user_registration_path}
            新規登録
          %a.login{href: new_user_session_path}
            ログイン



.Ttitle
  追加メニュー
.templates
  .templates__title1
    #titlelink1
      豚しゃぶしゃぶ肉
  .templates__content1
    .templates__content1__gazou1
      <img src="/assets/DSC_7861.jpeg" class=kodawariimage1>
    .templates__content1__setumei1
      .font1
        当店の追加メニュー注文数ランキングNO.2！！歯ごたえのある豚肉はちゃんこだしとの相性抜群で、お客様の中には5人前ください！という、あれ？豚肉食べに来てんのかな？という方もいらっしゃるぐらいです。
        %br
        最初から盛りに入っていないのは、野菜を煮込むことで最高の出汁に成長するという当店の出汁の性質上、途中から入れて、しかもしゃぶしゃぶにしてもらった方が出汁の味を壊さないから。という大将のこだわりです。

  .templates__title2
    #titlelink2
      野菜類
  .templates__content2
    .templates__content2__setumei2
      .font2
        こちらはメニュー表にはございませんが、盛りに入っていた野菜であればどの野菜も個別追加注文できます！（肉類も可）
        %br
        とにかく野菜全般をおかわりしたいけど注文が面倒！というかたは、肉類以外が入った『野菜盛り』という注文方法も用意しています！
        %br
        ※ただし『ちゃんこ一人前』でのおかわりはできません。あらかじめご了承くださいm(_ _)m
    .templates__content2__gazou2
      <img src="/assets/DSC_7863.jpeg" class=kodawariimage2>

  .templates__title3
    #titlelink3
      雑炊
  .templates__content3
    .templates__content3__gazou3
      <img src="/assets/DSC_8395.jpeg" class=kodawariimage3>
    .templates__content3__setumei3
      .font3
        当店で使用されるお米のすべては、香川ブランド米の、はえぬきが使用されています。（自家栽培）もちろんこのぞうすいのお米にも使用しております！
        この雑炊セットにはごはんのほか、自家製の梅干しも付いてくるのですが、（季節によっては自家製野菜漬け）この梅干しも人気の一品！
        %br
        いわゆるはちみつ漬けのような甘い梅干しではなく、昔ながらのすっぱい、本来の梅干しの味です。

  .templates__title4
    #titlelink4
      中華そば
  .templates__content4
    .templates__content4__setumei4
      .font4
        当店の追加メニュー注文数ランキングNO.1！！
        %br
        こちらはちゃんこだしと相性のよい太麺の中華そばの他、大将の実家でとれたすりおろしにんにくが付いてきます。
        %br
        実はこのにんにくがクセもので、出汁に少し入れることで劇的に味が変化します。ここでは具体的な味の言及は避けますが、本当ッッッッッに美味しいてす。（バイト談）
        %br
        ちゃんこを食べてお腹いっぱいのはずなのに、ほぼ100%の確率でみなさん「美味い」と言葉が漏れます。
        %br
        うちとしても是非是非に食べて欲しい一品です。
    .templates__content4__gazou4
      <img src="/assets/DSC_7855.jpeg" class=kodawariimage4>







:javascript
    $(function(){
      $(".tab1 .taboya").on("click", function() {
      $(this).nextAll().slideToggle(100);
      });
    });
    $(function(){
      $(".tab1 .taboya").on("click", function() {
      $(this).css('color', '#0000ff')
      });
    });
    $('.tab1').hover(
    function(){
      $('.taboya').css();
      },
    function(){
      $('.taboya').css('color', '');
      }
    );


    $('.yasai').hover(
    function(){
      $('.yasai').css('background-color', '#f00');
      $('.taboya').css('color', '#0000ff');

      },
    function(){
      $('.yasai').css('background-color', '');
      }
    );
    $('.sake').hover(
    function(){
      $('.sake').css('background-color', '#f00');
      $('.taboya').css('color', '#0000ff');
      },
    function(){
      $('.sake').css('background-color', '');
      }
    );
    $('.dasi').hover(
    function(){
      $('.dasi').css('background-color', '#f00');
      $('.taboya').css('color', '#0000ff');
      },
    function(){
      $('.dasi').css('background-color', '');
      }
    );
    $('.sime').hover(
    function(){
      $('.sime').css('background-color', '#f00');
      $('.taboya').css('color', '#0000ff');
      },
    function(){
      $('.sime').css('background-color', '');
      }
    );




    $('.tab2').hover(
      function(){
        $('.tab2').children().show();
        $('.tab2').css('color', '#0000ff');

      },
      function(){
        $('.tab2').children().hide();
        $('.tab2').css('color', '');

      }
    );

    $('.tabkiti').hover(
      function(){
        $('.tabkiti').css('background-color', '#f00');
      },
      function(){
        $('.tabkiti').css('background-color', '');
      }
    );



    $('.tabmi').hover(
      function(){
        $('.tabmi').children().show();
        $('.tabmi').css('background-color', '#f00');
      },
      function(){
        $('.tabmi').css('background-color', '');
        $('.tabchan1').hide();
        $('.tabchan2').hide();
        $('.tabchan3').hide();
      }
    );
    $('.tabchan1').hover(
      function(){
        $('.tabchan1').css('background-color', '#f00');
      },
      function(){
        $('.tabchan1').css('background-color', '');
      }
    );
    $('.tabchan2').hover(
      function(){
        $('.tabchan2').css('background-color', '#f00');
      },
      function(){
        $('.tabchan2').css('background-color', '');
      }
    );
    $('.tabchan3').hover(
      function(){
        $('.tabchan3').css('background-color', '#f00');
      },
      function(){
        $('.tabchan3').css('background-color', '');
      }
    );


    $('.tabjiro').hover(
      function(){
        $('.tabjiro').children().show();
        $('.tabjiro').css('background-color', '#f00');
      },
      function(){
        $('.tabjiro').css('background-color', '');
        $('.baki').hide();
        $('.kaiou').hide();
        $('.hanayama').hide();
        $('.sibukawa').hide();

      }
    );
    $('.baki').hover(
      function(){
        $('.baki').css('background-color', '#f00');
      },
      function(){
        $('.baki').css('background-color', '');
      }
    );
    $('.kaiou').hover(
      function(){
        $('.kaiou').css('background-color', '#f00');
      },
      function(){
        $('.kaiou').css('background-color', '');
      }
    );
    $('.hanayama').hover(
      function(){
        $('.hanayama').css('background-color', '#f00');
      },
      function(){
        $('.hanayama').css('background-color', '');
      }
    );
    $('.sibukawa').hover(
      function(){
        $('.sibukawa').css('background-color', '#f00');
      },
      function(){
        $('.sibukawa').css('background-color', '');
      }
    );


    $('.tabemon').hover(
      function(){
        $('.tabemon').children().show();
        $('.tabemon').css('background-color', '#f00');
      },
      function(){
        $('.tabemon').css('background-color', '');
        $('.tabta').hide();
        $('.tabkachan').hide();
        $('.jaian').hide();
        $('.tabo').hide();
        $('.tabsugikun').hide();
      }
    );
    $('.tabta').hover(
      function(){
        $('.tabta').css('background-color', '#f00');
      },
      function(){
        $('.tabta').css('background-color', '');
      }
    );
    $('.tabkachan').hover(
      function(){
        $('.tabkachan').css('background-color', '#f00');
      },
      function(){
        $('.tabkachan').css('background-color', '');
      }
    );
    $('.jaian').hover(
      function(){
        $('.jaian').css('background-color', '#f00');
      },
      function(){
        $('.jaian').css('background-color', '');
      }
    );
    $('.tabo').hover(
      function(){
        $('.tabo').css('background-color', '#f00');
      },
      function(){
        $('.tabo').css('background-color', '');
      }
    );
    $('.tabsugikun').hover(
      function(){
        $('.tabsugikun').css('background-color', '#f00');
      },
      function(){
        $('.tabsugikun').css('background-color', '');
      }
    );
