-# %h2 Log in
-#   .field
-#     = f.label :email
-#     %br/
-#   .field
-#     = f.label :password
-#     %br/
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-# = render "devise/shared/links"
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .loginback
    .loginside
      .loginside__left
        どうも大将です。ログイン画面まで失礼します。みなさまご存知だとは思いますが、実は私、テニスが趣味なんです。この前も店の近くの浦江公園で、７０歳のオヤジとテニスさせていただいたんですがね、これがごっついんですわ。何がすごいって打つときの腕の曲げ方あるでしょ？
      .loginside__right
        .loginside__right__logininfo
          .loginside__right__logininfo__signuplinktitle
            会員登録がまだの方はこちら
          .loginside__right__logininfo__signupbtn
            = link_to new_user_registration_path do
              %button.signup_btn{name: "button", type: "submit"}
                → 新規会員登録 ←        
        .loginside__right__loginform
          .loginside__right__loginform__email
            メールアドレス
          .loginside__right__loginform__emailform
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .loginside__right__loginform__password
            パスワード
          .loginside__right__loginform__passwordform
            = f.password_field :password, autocomplete: "current-password"
          .loginside__right__loginform__submit
            = f.submit "ログイン", class: "loginbtn"


